.ad-list {
  padding-top: 50px;
  &__content {
    .cards {
      margin-bottom: 24px;
    }
  }
}

.product-ad {
  padding-top: 50px;
  &__badge {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    @include max(360px) {
      flex-wrap: wrap;
    }
    .badge {
      margin-right: 12px;
      @include max(360px) {
        margin-bottom: 12px;
      }
    }
  }

  &__ads-info {
    .title {
      color: color(g);
      text-transform: capitalize;
      margin-bottom: 20px;
    }
    .post-details {
      display: flex;
      align-items: center;
      @include max(767px) {
        flex-wrap: wrap;
      }
      &__item {
        display: flex;
        align-items: center;
        margin-right: 35px;
        @include max(1199px) {
          margin-right: 12px;
        }
        @include max(767px) {
          margin-bottom: 12px;
        }

        &:nth-last-child(1) {
          margin-right: 0px;
        }
        .icon {
          margin-right: 6px;
        }
        p {
          color: color(gray-4);
          text-transform: capitalize;
        }
      }
    }
  }

  &__gallery {
    margin: 35px 0px;

    .product-slider-nav {
      width: 732px;
      margin: auto;
      margin-top: 24px;
      height: 112px;
      @include max(991px) {
        width: 100%;
      }
      &__item {
        width: 100%;
        height: 112px;
        margin: 0px 6px;
        cursor: pointer;
        border: 2px solid transparent;
        &.slick-current {
          transition: all 0.4s ease-in-out;
          border: 2px solid color(primary-4);
          img {
            transform: scale(0.8);
            @include max(991px) {
              transform: scale(0.9);
            }
          }
        }

        img {
          object-fit: cover;
        }
      }

      .slider-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
        padding: 12px;
        border-radius: 4px;
        background-color: #ebeef7;
        cursor: pointer;
        @include trans(0.4s, ease-in-out);

        &:hover {
          background-color: color(gray-6);
          // transform: translateY(-2px);
          margin-top: 2px;
          @include trans(0.4s, ease-in-out);
        }

        &--prev {
          left: -75px;
          @include max(991px) {
            left: 0px;
          }
        }
        &--next {
          right: -75px;
          @include max(991px) {
            right: 0px;
          }
        }
      }
    }
  }

  &__slider-content-top {
    width: 100%;
    height: 640px;
    background-color: #ebeef7;
    overflow: hidden;
    @include max(480px) {
      height: 300px;
      background-color: transparent;
    }
  }

  &__slider {
    width: 645px;
    height: inherit;
    margin: auto;
    @include max(645px) {
      width: 100%;
    }
    &-item {
      width: inherit;
      height: inherit;
    }
  }

  &__description,
  &__feature {
    margin: 36px 0px;
    h2 {
      margin-bottom: 24px;
    }
  }

  &__description {
    p {
      color: color(gray-4);
      margin-bottom: 24px;
    }
  }

  &__feature {
    .feature {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @include max(767px) {
        flex-wrap: wrap;
      }
      &-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 16px;
        .icon {
          margin-right: 16px;
        }
        p {
          color: color(gray-2);
        }
      }
    }
  }
}

.related-post {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    @include max(380px) {
      flex-direction: column;
    }
    h2 {
      @include max(380px) {
        margin-bottom: 24px;
      }
    }

    .slider-btn {
      button {
        padding: 12px;
        display: inline-block;
        border-radius: 4px;
        border: 2px solid #e8f7ff;
        margin-right: 16px;
      }
    }
  }
  &__slider {
    &-item {
      margin: 0px 12px;
    }
  }
}
