// home one
[dir="rtl"] {
  //header
  .header .navigation-bar__buttons .btn {
    margin-left: 24px;
    margin-right: 0;
  }
  .desktop-show {
    padding-right: 20px;
    padding-left: 0;
    border-left: none;
    border-right: 1px solid rgba(255, 255, 255, 0.336);
  }
  .menu__link .icon {
    margin-right: 8px;
  }
  .search__content-item:nth-child(1) .input-field input {
    padding-right: 66px;
    padding-left: 0;
  }
  .input-field .icon--left {
    right: 16px !important;
    left: auto !important;
  }
  .search__content-item:nth-child(2) .input-field input {
    padding-right: 55px;
    padding-left: 0;
  }
  .search__content .select2-container--bootstrap-5 .select2-selection--single {
    padding-right: 55px;
    padding-left: 0;
  }
  .search__content
    .select2-container--bootstrap-5
    .select2-selection--single
    .select2-selection__rendered {
    text-align: right;
  }
  .select2-container--bootstrap-5 .select2-selection--single {
    background-position: left 0.75rem center;
  }
  .btn .icon--left {
    margin-left: 8px;
    padding-right: 0;
  }
  // service section
  .work-card__count-number {
    left: 30px;
    right: auto;
  }
  //cta
  .membership-call__title::after {
    right: 0px;
    left: auto;
  }
  //footer
  .footer__mobile-app .app {
    margin-left: 12px;
    margin-right: 0;
  }
}

// home 2
.cards--one .cards__location {
  line-height: 1;
  margin-right: 5px;
  align-items: center;
}

span.icon {
  margin-right: 5px;
}
[dir="rtl"] {
  //header responsive
  .toggle-icon {
    margin-right: 0;
    margin-left: 18px;
  }
  .categories__item:nth-last-child(1) {
    margin-right: 24px;
  }
  .input-field .icon {
    right: auto;
    left: 16px;
  }
  .menu--sm.mobile-menu .mobile-menu__footer .btn:nth-child(1) {
    margin-left: 12px;
    margin-right: 0;
  }
  .menu--sm__link .icon {
    right: auto;
    left: 0;
  }
  .mobile-show .language-picker__button .icon {
    right: auto;
    left: 0;
  }
  .mobile-show .language-picker__item[aria-selected="true"]::after {
    left: 5px;
    right: auto;
  }
  // header
  .navigation-bar__search-field input {
    padding-left: 0;
    padding-right: 55px;
  }
  .navigation-bar__search-icon {
    right: 21px;
    left: auto;
  }
  .header--two .navigation-bar__buttons .btn:nth-child(1) {
    margin-left: 12px;
    margin-right: 0;
  }
  .language-picker__flag::before {
    margin-right: 0;
    margin-left: 8px;
  }
  span.icon {
    margin-left: 5px;
    margin-right: 0;
  }
  .language-picker__button .icon {
    margin-right: 13px;
    margin-left: 0;
  }
  .category-menu__dropdown {
    left: auto;
    right: 0;
  }
  .category-menu__dropdown__link .category-icon {
    margin-left: 16px;
    right: 0;
  }
  .category-menu__dropdown__link .drop-icon {
    left: 24px;
    right: auto;
  }
  .category-menu__subdropdown {
    left: -270px;
    right: auto !important;
  }
  .category-menu__dropdown__item:hover
    .category-menu__dropdown__link
    .drop-icon {
    left: 14px;
    right: auto;
  }
  .category-menu__dropdown__link .drop-icon {
    transform: rotateY(180deg);
  }
  // hero
  .banner--two .banner__title {
    color: white;
  }
  .banner--two .banner__brief {
    color: white;
  }
  // recommand add section
  .cards--one .cards__location {
    margin-left: 5px;
    margin-right: 0;
  }
  .btn .icon--right {
    margin-right: 8px;
    margin-left: 0;
  }
  // Top Category
  .category-menu__dropdown__link .category-icon {
    margin-left: 16px;
    margin-right: 0;
  }
  // counter
  .counter__item-icon {
    margin-left: 24px;
    margin-right: 0;
  }
  // subscription
  .subscribe__input-group .btn {
    left: 12px;
    right: auto;
  }
  .subscribe__input-group .icon {
    right: 18px;
    left: auto;
  }
  .subscribe__input-group {
    padding-right: 55px;
    padding-left: 0;
  }
  // footer
  .app-logo {
    margin-right: 0;
    margin-left: 12px;
  }
  .footer__bottom .footer__policy-condition {
    text-align: left;
  }
}

// home three
[dir="rtl"] {
  .input-field--transparent
    .select2-container--bootstrap-5
    .select2-selection--single::after {
    right: auto;
    left: 30px;
  }
  .banner--three .search__content-item .input-field input {
    border-left: 1px solid #ffffff1a !important;
    border-right: none !important;
  }
  // pricing
  .plan-card__price span {
    margin-left: 0;
    margin-right: 6px;
  }
}

// add list
[dir="rtl"] {
  .input-field__group .input-field:nth-last-child(1),
  .input-field__group .input-select:nth-last-child(1) {
    margin-right: 16px;
  }
  .input-select .bv_mainselect .bv_atual.bv_background .arrows_bv {
    left: 18px;
    right: auto;
  }
  .ad-list .list-sidebar__accordion-inner-icon {
    margin-left: 8px;
    margin-right: 0;
  }
  .ad-list .list-sidebar__accordion-inner-button .icon {
    left: 0px;
    right: auto;
  }
  .form-check input {
    margin-left: 8px;
    margin-right: 0;
  }
  .input-field .icon--left {
    left: auto !important;
    right: 16px !important;
  }
  .ad-list .list-sidebar__accordion-inner-body--item .input-field input {
    padding-right: 45px;
    padding-left: 0;
  }
}

// get mebbership
[dir="rtl"] {
  .membership-card__icon {
    margin-left: 32px;
    margin-right: 0;
  }
  .contact-info__item {
    border-right: none;
  }
  .contact-info__item:nth-last-child(1) {
    border-right: 1px solid #ebeef7;
  }
}
// contact page
[dir="rtl"] {
  .contact__details-item .icon {
    margin-left: 8px;
    margin-right: 0;
  }
  .contact-form__left {
    border-left: none;
    border-left: 1px solid #ebeef7;
  }
}

// blog page
[dir="rtl"] {
  .blog-card__right {
    margin-right: 24px;
    margin-left: 0;
  }
  .blog__sidebar-post .post-item .post-img {
    margin-left: 16px;
    margin-right: 0;
  }
  .blog-card__blog-info-item:nth-last-child(1) {
    margin-right: 24px;
  }
  .blog-card__blog-info-item .icon {
    margin-left: 6px;
    margin-right: 0;
  }
  .single-blog__info-item:nth-last-child(1) {
    margin-right: 24px;
  }
  .single-blog__author-info .author-social__item:nth-last-child(1) {
    margin-right: 8px;
  }
  .single-blog__author-info .author-img img {
    margin-left: 12px;
    margin-right: 0;
  }
  .input-field--textarea label {
    text-align: right;
  }
  .single-blog__user-comments .user-comments__item .user-img {
    margin-left: 12px;
    margin-right: 0;
  }
}

// login, registration
[dir="rtl"] {
  .registration-form__sign-btns .btn-sign:nth-last-child(1) {
    margin-right: 24px;
  }
  .registration__features-item .icon {
    margin-left: 32px;
    margin-right: 0;
  }
  .breedcrumb__page-item:nth-last-child(1) {
    margin-right: 8px;
  }
}

//dashedboard

[dir="rtl"] {
  .dashboard__nav-link .icon {
    margin-left: 16px;
    margin-right: 0;
  }
  .dashboard-card--recent__activity-item .icon {
    margin-left: 16px;
    margin-right: 0;
  }
  .edit-dropdown__link .icon {
    margin-right: 0;
    margin-left: 12px;
  }
  .dashboard__user-img {
    margin-right: 0;
    margin-left: 14px;
  }
  .dashboard__section-info .view-page .icon {
    margin-left: 0;
    margin-right: 8px;
  }
}

// faq page
[dir="rtl"] {
  .faq__accordion-button .icon {
    right: auto;
    left: 24px;
  }
}
