// ==== Colors ====== \\
$colors: (
  'primary': #002233,
  'success': #082700,
  'warning': #332600,
  'danger': #331010,
  'w': #ffff,
  'g': #191f33,
  'gray-1': #2e3447,
  'gray-2': #464d61,
  'gray-3': #636a80,
  'gray-4': #767e94,
  'gray-5': #939aad,
  'gray-6': #aeb3c2,
  'gray-7': #c5c9d6,
  'gray-8': #dadde5,
  'gray-9': #e9eaf0,
  'gray-10': #f5f7fa,
  'primary-1': #004466,
  'primary-2': #006699,
  'primary-3': #0088cc,
  'primary-4': #00aaff,
  'primary-5': #33bbff,
  'primary-6': #66ccff,
  'primary-7': #99ddff,
  'primary-8': #cceeff,
  'primary-9': #e8f7ff,
  'primary-10': #002233,
  'success-1': #104e00,
  'success-2': #177400,
  'success-3': #1f9b00,
  'success-4': #27c200,
  'success-5': #52ce33,
  'success-6': #7dda66,
  'success-7': #a9e799,
  'success-8': #d4f3cc,
  'success-9': #e4f9e0,
  'warning-1': #664c00,
  'warning-2': #997300,
  'warning-3': #cc9900,
  'warning-4': #ffbf00,
  'warning-5': #ffcc33,
  'warning-6': #ffd966,
  'warning-7': #ffe599,
  'warning-8': #fff2cc,
  'warning-9': #fff8e0,
  'danger-1': #662020,
  'danger-2': #992f2f,
  'danger-3': #cc3f3f,
  'danger-4': #ff4f4f,
  'danger-5': #ff7272,
  'danger-6': #ff9999,
  'danger-7': #ffb2b2,
  'danger-8': #ffcccc,
  'danger-9': #ffe5e5,
);

// ==== Fonts Family ====== \\
$fprimary: 'Nunito', sans-serif;
$fsecondary: 'Nunito Sans', sans-serif;

// ==== Fonts Size  ====== \\
$fontSize: (
  'display-1': 80px,
  'display-2': 72px,
  'display-3': 56px,
  'heading-1': 40px,
  'heading-2': 32px,
  'heading-3': 24px,
  'button': 16px,
  'caption': 14px,
  'body-1': 24px,
  'body-2': 20px,
  'body-3': 16px,
  'body-4': 14px,
  'body-5': 12px,
);

// ==== ====== \\
