.about {
  &__title {
    color: color(g);
    text-transform: capitalize;
    margin-bottom: 32px;
    @include max(991px) {
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 16px;
    }
  }

  &__brief {
    width: 578px;
    color: color(gray-4);
    margin-bottom: 40px;
    @include max(1200px) {
      width: 100%;
    }
    @include max(991px) {
      margin-bottom: 20px;
    }
  }

  &__img-wrapper {
    position: relative;
    width: 100%;
    height: 388px;
    border-radius: 12px;
    overflow: hidden;
    @include max(767px) {
      height: 280px;
    }
    img {
      @include trans(0.4s, ease-in-out);
    }

    @include max(991px) {
      margin-bottom: 24px;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}
