.blog__sidebar {
  @include max(991px) {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 425px;
    max-height: 100%;
    z-index: 999;
    @include trans(0.4s, ease-in-out);
  }
  @include max(420px) {
    width: 100%;
  }

  &-wrapper {
    @include max(991px) {
      position: fixed;
      top: 0;
      left: -425px;
      width: inherit;
      max-height: inherit;
      overflow-y: auto;
      z-index: 9999;
      @include trans(0.3s, ease-in-out);
    }
  }

  .toggle-icon {
    position: absolute;
    top: 85px;
    right: auto;
    left: 0;
    color: color(g);
    z-index: 99999;
    padding: 8px;
    background-color: #f5f7fa;

    @include min(992px) {
      display: none;
    }
  }

  &.active {
    .toggle-icon {
      left: auto;
      right: -44px;
      color: color(primary-4);
      @include max(460px) {
        padding: 0px;
        right: 32px;
        top: 32px;
      }
    }
    .blog__sidebar {
      &-wrapper {
        left: 0px;
      }
    }
  }

  &-item {
    padding: 32px;
    border-radius: 5px;
    background-color: color(gray-10);
    margin-bottom: 24px;
    @include max(991px) {
      // background: #fff;
      border-radius: 0px;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    .item-title {
      color: color(g);
      text-transform: capitalize;
      margin-bottom: 20px;
    }

    &:nth-last-child(1) {
      padding: 0px;
      margin-bottom: 0px;
      background-color: transparent;
    }
  }

  &-search {
    .input-field {
      margin-bottom: 0px;
      input {
        padding-left: 55px;
      }
      .icon {
        width: 24px;
        height: 24px;
        left: 18px;
      }
    }
  }

  &-category {
    .category {
      display: flex;
      // flex-wrap: wrap;
      &-left {
        margin-right: 16px;
      }
      &-item {
        width: 100%;
        height: 65px;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        margin-bottom: 16px;
        cursor: pointer;
        &:nth-last-child(1) {
          margin-bottom: 0px;
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4);
        }

        &:hover {
          a {
            img {
              transform: scale(1.1);
            }
          }
        }

        a {
          height: 100%;
          img {
            width: 100%;
            @include trans(0.3s, ease-in-out);
          }
          h2 {
            width: 100%;
            text-align: center;
            color: #fff;
            text-transform: capitalize;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
          }
        }
      }
    }
  }

  &-tag {
    .tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      &-item {
        cursor: pointer;
        color: color(gray-2);
        text-transform: capitalize;
        padding: 8px 16px;
        margin-right: 12px;
        margin-bottom: 12px;
        border-radius: 100px;
        display: inline-block;
        background-color: #fff;
        @include trans(0.3s, ease-in-out);
        &:nth-last-child(1),
        &:nth-last-child(2) {
          margin-bottom: 0px;
        }

        &:hover,
        &.active {
          color: #fff;
          background-color: color(primary-4);
        }
      }
    }
  }

  &-gallery {
    .gallery {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      @include max(767px) {
        justify-content: start;
      }
      &-item {
        width: 112px;
        height: 112px;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 6px;
        @include max(767px) {
          margin-right: 6px;
        }
        @include max(420px) {
          width: 112px;
          height: 112px;
        }
        @include max(400px) {
          margin-right: 16px;
          margin-bottom: 16px;
          width: 90px;
          height: 90px;
        }

        @include max(360px) {
          width: 70px;
          height: 70px;
          margin: 6px;
        }

        img {
          width: 100%;
          @include trans(0.3s, ease-in-out);
        }
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &-post {
    .post {
      &-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &:nth-last-child(1) {
          margin-bottom: 0px;
        }

        @include min-max(992px, 1024px) {
          flex-direction: column;
          align-items: flex-start;
        }
        @include max(380px) {
          flex-direction: column;
          align-items: flex-start;
        }
        &:hover {
          .post-img {
            img {
              transform: scale(1.1);
            }
          }
        }
        &:nth-last-child(1) {
          margin-bottom: 0px;
        }
        .post-img {
          width: 100px;
          height: 80px;
          border-radius: 6px;
          margin-right: 16px;
          flex-shrink: 0;
          overflow: hidden;
          @include min-max(992px, 1024px) {
            margin-bottom: 16px;
          }
          @include max(380px) {
            margin-bottom: 16px;
          }
          img {
            @include trans(0.3s, ease-in-out);
          }
        }
        .post-info {
          a {
            color: color(g);
            margin-bottom: 12px;
          }

          .post-review {
            display: flex;
            align-items: center;

            span {
              font-size: 14px;
              line-height: 20px;
              color: color(gray-4);
              display: inline-block;
              &.dot {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: color(gray-4);
                margin: 0px 8px;
              }
            }
          }
        }
      }
    }
  }

  &-banner {
    @include max(1024px) {
      display: none;
    }
    .img {
      position: relative;
      width: 100%;
      height: 925px;
      border-radius: 12px;
      overflow: hidden;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
      }
      .text__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        .logo,
        .text,
        .reg-btn,
        .free {
          position: absolute;
          left: 50%;
          width: 100%;
          transform: translateX(-50%);
        }

        .logo {
          top: 50px;
          width: 280px;
        }
        .text {
          top: 350px;
          text-align: center;
          h2 {
            @include font(48px, 72px, 700, w);
          }
          p {
            @include font(32px, 48px, 400, w);
            opacity: 0.8;
          }
        }

        .reg-btn {
          top: 504px;
          width: 80%;
          @include font(24px, 24px, 700, w);
          text-align: center;
          text-transform: capitalize;
          padding: 24px 80px;
          border-radius: 80px;
          background-color: #52c4ac;
        }

        .free {
          bottom: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          .tag {
            @include font(18px, 27px, 700, w);
            text-transform: uppercase;
            width: 76px;
            height: 76px;
            border-radius: 50%;
            border: 2px solid #fff;
            background-color: #ff4f4f;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(15deg);
            margin-right: 16px;
          }
          h2 {
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
