.dashboard {
  &__section-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    .dashboard-card__title {
      margin-bottom: 0px;
    }
    .view-page {
      @include font(14px, 20px, 400, gray-2);
      display: flex;
      align-items: center;
      .icon {
        margin-left: 8px;
      }
    }

    .history {
      &-item {
        position: relative;
        &:hover {
          .history-link {
            .icon {
              transform: rotate(180deg);
            }
          }
          .history-dropdown {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            transform: translateY(0px);
          }
        }
      }
      &-link {
        @include font(14px, 20px, 400, gray-2);
        text-transform: capitalize;
        display: flex;
        align-items: center;
        .icon {
          margin-left: 8px;
          @include trans(0.3s, ease-in-out);
        }
      }

      &-dropdown {
        position: absolute;
        top: 100%;
        right: 0;
        width: 150px;
        border-radius: 12px;
        z-index: 999;
        background-color: #fff;
        box-shadow: 0px 2px 32px 0px #0022330d;
        padding: 12px 0px;
        opacity: 0;
        visibility: hidden;
        pointer-events: all;
        transform: translateY(-10px);
        @include trans(0.4s, ease-in-out);

        &__link {
          font-size: 14px;
          line-height: 20px;
          width: 100%;
          padding: 6px 20px;
          color: color(gray-2);
          &:hover {
            color: #fff;
            background-color: color(primary-4);
            @include trans(0.4s, ease-in);
          }
        }
      }
    }
  }

  &__navigation {
    position: relative;
    padding: 32px 0px;
    border-radius: 12px;
    border: 1px solid #ebeef7;
    background-color: #fff;
    box-shadow: 0px 12px 48px 0px #0022330f;

    &.active {
      left: 0px;
      .dashboard__navigation-toggle-btn {
        color: color(primary-4);
        @include max(360px) {
          border-radius: 50%;
          right: 12px;
          @include trans(0.4s, ease-in-out);
        }
      }
    }

    @include max(1199px) {
      position: fixed;
      top: 50%;
      left: -295px;
      width: 295px;
      z-index: 999;
      transform: translateY(-50%);
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      @include trans(0.6s, ease-in-out);
    }

    @include max(360px) {
      width: 100%;
      left: -100%;
      border-radius: 0px;
    }

    &-toggle-btn {
      position: absolute;
      top: 45px;
      right: -42px;
      border: 1px solid #ebeef7;
      background-color: #fff;
      box-shadow: 0px 12px 48px 0px #0022330f;
      padding: 8px;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;

      &:hover {
        color: color(primary);
      }
      @include min(1200px) {
        display: none;
      }
    }

    &-top {
      padding: 0px 32px;
      padding-bottom: 24px;
      border-bottom: 1px solid #ebeef7;
    }
    &-bottom {
      padding-top: 24px;
    }
  }

  &__user {
    &-proifle {
      display: flex;
      align-items: center;
    }
    &-img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 14px;
    }
    &-info {
      .name {
        color: color(g);
        text-transform: capitalize;
      }
      .designation {
        color: color(gray-4);
      }
    }
  }

  &__nav {
    &-link {
      display: flex;
      @include font(16px, 24px, 600, gray-4);
      align-items: center;

      text-transform: capitalize;
      width: 100%;
      padding: 12px 24px;
      &:hover {
        color: color(primary-4);
        background-color: color(primary-9);
      }
      .icon {
        margin-right: 16px;
      }
    }
  }

  // counting card
  &-card--count {
    @include max(991px) {
      height: auto !important;
      margin-bottom: 24px;
    }
  }

  &__ads-activity {
    margin-top: 24px;
    margin-bottom: 40px;
  }

  &__posted-ads-slider {
    &--item {
      margin: 0px 12px;
    }
  }
}
