.dashboard {
  &__section-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    .dashboard-card__title {
      margin-bottom: 0px;
    }
    .view-page {
      @include font(14px, 20px, 400, gray-2);
      display: flex;
      align-items: center;
      .icon {
        margin-left: 8px;
      }
    }

    .history {
      &-item {
        position: relative;
        &:hover {
          .history-link {
            .icon {
              transform: rotate(180deg);
            }
          }
          .history-dropdown {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            transform: translateY(0px);
          }
        }
      }
      &-link {
        @include font(14px, 20px, 400, gray-2);
        text-transform: capitalize;
        display: flex;
        align-items: center;
        .icon {
          margin-left: 8px;
          @include trans(0.3s, ease-in-out);
        }
      }

      &-dropdown {
        position: absolute;
        top: 100%;
        right: 0;
        width: 150px;
        border-radius: 12px;
        z-index: 999;
        background-color: #fff;
        box-shadow: 0px 2px 32px 0px #0022330d;
        padding: 12px 0px;
        opacity: 0;
        visibility: hidden;
        pointer-events: all;
        transform: translateY(-10px);
        @include trans(0.3s, ease-in-out);

        &__link {
          font-size: 14px;
          line-height: 20px;
          width: 100%;
          padding: 6px 20px;
          color: color(gray-2);
          &:hover {
            color: #fff;
            background-color: color(primary-4);
            @include trans(0.3s, ease-in);
          }
        }
      }
    }
  }

  &__navigation {
    position: relative;
    padding: 32px 0px;
    border-radius: 12px;
    border: 1px solid #ebeef7;
    background-color: #fff;
    box-shadow: 0px 12px 48px 0px #0022330f;

    &.active {
      left: 0px;
      .dashboard__navigation-toggle-btn {
        color: color(primary-4);
        @include max(360px) {
          border-radius: 50%;
          right: 12px;
          @include trans(0.3s, ease-in-out);
        }
      }
    }

    @include max(1199px) {
      position: fixed;
      top: 50%;
      left: -295px;
      width: 295px;
      z-index: 999;
      transform: translateY(-50%);
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      @include trans(0.4s, ease-in-out);
    }

    @include max(360px) {
      width: 100%;
      left: -100%;
      border-radius: 0px;
    }

    &-toggle-btn {
      position: absolute;
      top: 45px;
      right: -42px;
      cursor: pointer;
      border: 1px solid #ebeef7;
      background-color: #fff;
      box-shadow: 0px 12px 48px 0px #0022330f;
      padding: 8px;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;

      &:hover {
        color: color(primary);
      }
      @include min(1200px) {
        display: none;
      }
    }

    &-top {
      padding: 0px 32px;
      padding-bottom: 24px;
      border-bottom: 1px solid #ebeef7;
    }
    &-bottom {
      padding-top: 24px;
    }
  }

  &__user {
    &-proifle {
      display: flex;
      align-items: center;
    }
    &-img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 14px;
    }
    &-info {
      .name {
        color: color(g);
        text-transform: capitalize;
      }
      .designation {
        color: color(gray-4);
      }
    }
  }

  &__nav {
    &-link {
      display: flex;
      @include font(16px, 24px, 600, gray-4);
      align-items: center;
      text-transform: capitalize;
      width: 100%;
      padding: 12px 24px;
      border-left: 2px solid transparent;
      &:hover,
      &.active {
        color: color(primary-4);
        background-color: color(primary-9);
        border-left: 2px solid color(primary-4);
        box-shadow: 2px 0px 0px 0px #00aaff inset;
      }
      .icon {
        margin-right: 16px;
      }
    }
  }

  // counting card
  &-card--count {
    @include max(991px) {
      height: auto !important;
      margin-bottom: 24px;
    }
  }

  &__ads-activity {
    margin-top: 24px;
    margin-bottom: 40px;
  }

  &__posted-ads-slider {
    &--item {
      margin: 0px 12px;
    }
  }

  &__upgrade-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include max(991px) {
      // text-align: ;
      align-items: flex-start;
      flex-direction: column;
    }
    .info {
      h2 {
        color: color(g);
        text-transform: capitalize;
        margin-bottom: 12px;
      }
      p {
        color: color(gray-4);
      }
    }

    .action {
      display: flex;
      align-items: center;

      @include max(991px) {
        margin-top: 16px;
      }
      @include max(360px) {
        flex-direction: column;
        width: 100%;
      }
      .btn {
        &:nth-child(1) {
          color: #636a80;
          border-color: #ebeef7;
          margin-right: 16px;
          @include max(360px) {
            margin-right: 0px;
            margin-bottom: 16px;
          }
        }
        @include max(360px) {
          width: 100%;
        }
      }
    }
  }

  &__upgrade,
  &__bill-two {
    margin-bottom: 24px;
  }

  &-card--benefits {
    @include max(991px) {
      margin-bottom: 24px;
    }
  }

  &-card--payment-method {
    @include max(991px) {
      height: auto !important;
      margin-bottom: 24px;
    }
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include max(991px) {
      flex-direction: column;
    }

    &-left {
      width: 35%;
    }
    &-right {
      width: 55%;
    }

    &-left,
    &-right {
      @include max(991px) {
        width: 100%;
      }
    }

    .input-field {
      input {
        padding-left: 55px;
      }
      .icon {
        left: 18px;
      }
    }

    &-group {
      display: flex;
      justify-content: space-between;
      @include max(540px) {
        flex-direction: column;
      }
      .input-select {
        width: 170px !important;
        margin-right: 10px;
        @include max(991px) {
          width: 33.33% !important;
        }
        @include max(540px) {
          width: 100% !important;
        }
        &:nth-last-child(1) {
          margin-right: 0px;
        }
      }
    }
  }

  // Settings page
  &-setting {
    margin-left: 16px;
    @include max(767px) {
      margin-left: 0px;
    }
    &__box {
      padding: 32px 0px;
      border-bottom: 1px solid #ebeef7;
      &:nth-child(1) {
        padding-top: 0px;
      }
      &:nth-last-child(1) {
        border-bottom: 0px;
        padding-bottom: 0px;
      }
      h2 {
        color: color(g);
        margin-bottom: 24px;
        text-transform: capitalize;
      }

      .input-field {
        &__group {
          @include max(767px) {
            flex-direction: column;
          }
          .input-field {
            @include max(767px) {
              margin-right: 0px;
            }
          }
        }
      }
    }
    .account-information {
      .user-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        @include max(767px) {
          flex-direction: column;
          margin-bottom: 0px;
          align-items: flex-start;
        }
        .img {
          display: flex;
          align-items: center;
          @include max(767px) {
            margin-bottom: 24px;
          }
          &-wrapper {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 24px;
          }
        }
        .email {
          h2 {
            color: color(g);
            font-weight: 600;
            span {
              color: color(gray-2);
              font-weight: 400;
              text-transform: lowercase;
              margin-left: 8px;
            }
          }
        }
      }

      .btn {
        margin-top: 8px;
      }
    }

    .change-password {
      .input-field {
        .icon {
          top: 70%;
        }
      }
      .btn {
        margin-top: 8px;
      }
    }

    .delete-account {
      &__details {
        width: 648px;
        color: color(gray-4);
        margin-bottom: 24px;
        @include max(767px) {
          width: 100%;
        }
      }

      .btn {
        background-color: color(danger-4);
        &:hover {
          background-color: color(danger-3);
        }
      }
    }
  }

  // Post Ads
  &-post {
    position: relative;
    padding: 32px 0px;
    border-radius: 12px;
    border: 1px solid #ebeef7;
    background-color: #fff;
    margin-left: 16px;
    @include max(767px) {
      margin-left: 0px;
    }
    &__ads {
      .row {
        .col-lg-6 {
          &:nth-child(1) {
            padding-right: 9px;
          }
          &:nth-last-child(1) {
            padding-left: 9px;
          }
        }
      }
    }

    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0px 32px;
      margin-right: 0px;
      margin-bottom: 32px !important;
      border-bottom: 1px solid #ebeef7;
      @include max(767px) {
        padding: 0px 16px;
      }
    }

    &__item {
      margin-right: 16px;
      @include max(767px) {
        margin-bottom: 16px;
        margin-right: 0px;
        width: 100%;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0px;
      padding-bottom: 32px;
      border-radius: 0px !important;
      margin: 0px !important;
      border-bottom: 2px solid transparent !important;

      @include max(767px) {
        width: inherit;
      }
      &:nth-last-child(1) {
        margin-right: 0px;
      }
      &.active {
        background-color: transparent !important;
        border-bottom: 2px solid color(primary-4) !important;
        .icon {
          background-color: color(primary-4) !important;
        }
      }

      &.success {
        .icon {
          &--default {
            display: none;
          }
          &--success {
            display: block;
          }
        }
      }

      .icon {
        color: #fff;
        padding: 16px;
        border-radius: 50%;
        margin-right: 16px;
        background-color: color(gray-7) !important;
        &--success {
          display: none;
          background-color: color(success-4) !important;
        }
      }
      .step-info {
        text-align: left;
        h2 {
          color: color(g);
          margin-bottom: 6px;
          text-transform: capitalize;
        }
        p {
          color: color(gray-4);
          text-transform: capitalize;
        }
      }
    }

    &__content {
      padding: 0px 32px;
      @include max(767px) {
        padding: 0px 16px;
      }
    }

    &__ads-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 50px;
      @include max(767px) {
        flex-direction: column;
      }
      .dashboard-post__action-btns {
        margin-top: 0px;
        @include max(767px) {
          margin-top: 24px;
        }
        @include max(480px) {
          width: 100%;
        }
        .btn {
          @include max(555px) {
            width: 100%;
          }
        }
      }
    }

    &__action-btns {
      display: flex;
      align-items: center;
      justify-content: end;
      margin-top: 50px;
      @include max(540px) {
        flex-direction: column;
      }
      .btn {
        margin-right: 24px !important;
        @include max(991px) {
          flex-shrink: 0;
        }
        @include max(540px) {
          margin-right: 0px !important;
          flex-shrink: 0;
          width: 100%;
          margin-bottom: 16px;
        }
        &:nth-child(1) {
          color: #636a80;
          border-color: #ebeef7;
          @include trans(0.3s, ease-in);
          margin-right: 0px;
          &:hover {
            border-color: color(gray-6);
          }
        }
      }
    }

    &.post-publish {
      padding: 132px 30px;
      text-align: center;
      @include max(480px) {
        border: 0px;
        padding: 60px 0px;
      }
      .icon {
        margin-bottom: 32px;
      }
      h2 {
        color: color(g);
        margin-bottom: 24px;
        @include max(480px) {
          font-size: 32px;
          line-height: 46px;
        }
      }
      .post-publish__brief {
        color: color(gray-2);
        width: 495px;
        margin: auto;
        margin-bottom: 32px;
        @include max(767px) {
          width: 100%;
        }
      }
      .btns-group {
        .btn {
          margin-right: 12px;
          &:nth-last-child(1) {
            margin-right: 0px;
          }
        }
      }
    }
  }

  // My Ads
  &__myads {
    margin-left: 16px;
    @include max(767px) {
      margin-left: 0px;
    }
    @include max(767px) {
      margin-top: 24px;
    }
    .header {
      display: flex;
      padding-bottom: 20px;
      margin-top: 32px;
      margin-bottom: 24px;
      background-color: #fff;
      box-shadow: 0px -1px 0px 0px #ebeef7 inset;
      @include max(767px) {
        display: none;
      }
      &-item {
        &:nth-child(1) {
          width: 40%;
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          width: 15%;
        }
      }
    }

    .body {
      &-item {
        &--lg {
          @include max(767px) {
            display: none;
          }
        }
        &--sm {
          margin-bottom: 18px;
          @include min(768px) {
            display: none;
          }
        }
        .card-edit {
          @include max(767px) {
            display: none;
          }
        }
      }
    }
  }

  // Message
  &__message {
    display: flex;
    margin-left: 16px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 12px 48px 0px #0022330f;
    border: 1px solid #ebeef7;
    overflow: hidden;
    @include max(767px) {
      margin-left: 0px;
    }

    &.active {
      .dashboard__message-users {
        @include max(767px) {
          display: none;
        }
      }
      .dashboard__message-user {
        @include max(767px) {
          display: block;
        }
      }
    }

    &-left {
      width: 35%;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      border-right: 1px solid #ebeef7;
      @include min-max(768px, 991px) {
        width: 45%;
      }
    }
    &-right {
      width: 75%;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      border-left: 0px;
      border-bottom: 0px;
      @include min-max(768px, 991px) {
        width: 65%;
      }
    }

    &-left,
    &-right {
      @include max(767px) {
        width: 100%;
      }
    }

    &-users {
      padding-top: 24px;
      .title {
        color: color(g);
        margin-bottom: 24px;
      }
    }

    &-search,
    .title {
      padding: 0px 24px;
    }

    &-userscontent {
      margin-top: 12px;
      height: 714px;
      overflow-y: auto;

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 170, 255, 0.3);
        background-color: color(primary-9);
      }

      &::-webkit-scrollbar {
        width: 4px;
        background-color: color(primary-9);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 170, 255, 0.3);
        background-color: color(primary-4);
      }
    }

    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 24px;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: color(gray-10);
      }

      &-info {
        display: flex;
        align-items: center;

        .back-message--list {
          margin-right: 15px;
          @include min(768px) {
            display: none;
          }
          svg {
            width: 22px;
            height: 22px;
          }
        }
        .img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
          overflow: hidden;
        }
        .name {
          p {
            color: color(gray-4);
          }
        }
      }

      &-mss-duration {
        display: flex;
        align-items: center;
        flex-direction: column;
        .count {
          @include font(11px, 11px, 600, null);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          color: #fff;
          background-color: color(primary-4);
          flex-shrink: 0;
        }
        .time {
          color: color(gray-4);
        }
      }
    }

    &-user {
      @include max(767px) {
        display: none;
      }

      .message-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 24px;
        border-bottom: 1px solid #ebeef7;
        @include max(767px) {
          padding: 16px;
        }
        .user-info {
          .img {
            width: 48px;
            height: 48px;
            margin-right: 16px;
            border-radius: 50%;
            overflow: hidden;
          }
          .info {
            p {
              color: #636a80;
              .icon {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #27c200;
                margin-right: 6px;
              }
            }
          }
        }

        .action-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          color: color(gray-2);
          background-color: transparent;
          &:hover {
            background-color: color(danger-4);
            button {
              svg {
                transition: all 0.3s ease-in-out;
                color: #fff;
              }
            }
          }
          button {
            svg {
              color: color(gray-2);
            }
          }
        }
      }

      .message-body {
        padding: 0px 24px;
        height: 700px;
        overflow: auto;
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 170, 255, 0.3);
          background-color: color(primary-9);
        }

        &::-webkit-scrollbar {
          width: 4px;
          background-color: color(primary-9);
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          box-shadow: inset 0 0 6px rgba(0, 170, 255, 0.3);
          background-color: color(primary-4);
        }
        &__date {
          position: relative;
          color: color(gray-3);
          text-align: center;
          margin-bottom: 32px;
          margin-top: 135px;
          text-transform: uppercase;
          &::after,
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            width: 45%;
            height: 1px;
            background-color: #ebeef7;
            transform: translateY(-50%);
          }
          &::after {
            left: 0px;
          }
          &::before {
            right: 0px;
          }
        }

        .user-message__content {
          display: flex;
          align-items: flex-start;
          margin: 16px 0px;
          .img {
            width: 32px;
            height: 32px;
            margin-right: 12px;
            border-radius: 50%;
            overflow: hidden;
            flex-shrink: 0;
          }

          &-info {
            .user-name {
              color: color(g);
              display: flex;
              align-items: center;
              margin-bottom: 8px;
              .dot {
                width: 3px;
                height: 3px;
                margin: 0px 4px;
                border-radius: 50%;
                background-color: #939aad;
                display: inline-block;
              }
              .date {
                font-weight: 400;
                color: #939aad;
              }
            }
            .user-message {
              p {
                color: #636a80;
                margin-bottom: 20px;
              }
              .drafts {
                &-title {
                  color: #767e94;
                  margin-bottom: 8px;
                }
                &-item {
                  display: flex;
                  align-items: center;
                  padding: 12px;
                  width: 320px;
                  border-radius: 6px;
                  border: 1px solid #ebeef7;
                  background-color: #fff;
                  @include trans(0.3s, ease-in-out);
                  @include max(480px) {
                    width: 100%;
                  }
                  &:hover {
                    box-shadow: 0px 12px 48px 0px #0022330f;
                  }
                  .draft-img {
                    width: 80px;
                    height: 80px;
                    flex-shrink: 0;
                    margin-right: 16px;
                    border-radius: 2px;
                    overflow: hidden;
                  }
                  .draft-title {
                    color: #464d61;
                    // margin-bottom: 20px;
                  }
                  .draft-price {
                    color: color(danger-4);
                    margin-top: 20px;
                    margin-bottom: 0px;
                  }
                }
              }
            }
          }
        }
      }

      .message-footer {
        border-top: 1px solid #ebeef7;

        .input-message--text {
          display: flex;
          width: 100%;
          position: relative;
          overflow: hidden;
          textarea {
            width: inherit;
            height: 70px;
            padding: 25px;
            border: 0px;
            border-bottom-right-radius: 12px;
            resize: none;

            &::-webkit-scrollbar {
              display: none;
            }
            &::placeholder {
              color: color(gray-5);
            }
          }

          .icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 13px;

            width: 45px;
            height: 45px;
            border-radius: 4px;
            background-color: color(primary-4);
            overflow: hidden;
          }
        }
      }
    }
  }
}
