.select2-container {
    display: block !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #939aad !important;
    text-transform: capitalize !important;
}
.select2-container--default .select2-selection--single{
    width: 100% !important;
    height: 48px !important;
    padding: 0px 18px !important;
}
.select2-results__option{
    padding: 6px 20px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-top: 9px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 10px !important;
    right: 12px !important;
}
.select2-search--dropdown{
    display: none;
}
.select2-dropdown{
    border: none !important;
    background-color: #FFFFFF;
    padding: 16px 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0px 24px 100px 0px #001d491f;
    box-shadow: 0px 24px 100px 0px #001d491f;
    z-index: 9;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
    

.select2-container--default .select2-selection--single {
    border-color: #edeff5;
}

.search__content-item .select2-container--default .select2-selection--single {
    border-color: transparent;
}

.search__content-item .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 35px;
}

.language-picker__button .icon {
    height: 13px;
    /* margin-top: 4px; */
}

.banner.banner--three .select2-container--default .select2-selection--single {
background-color: transparent;
}
